.story-path-pg-wrapper {
  text-align: center;
  background-color: var(--bg-color);
  min-height: 100vh;
  /* Ensures content fits */
}

.story-path {
  background-color: var(--bg-color);
  text-align: center;
  padding: 20px;
  height: calc(100vh - var(--header-height));
  color: var(--text-color);
  box-sizing: border-box;
}

.story-path-container {
  margin: 0 auto;
  max-width: 60vw;
  padding: 20px;
}

.story-path-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: var(--header-text);
}

.story-path-container p {
  font-size: 1.5em;
  margin-bottom: 40px;
  line-height: 1.5;
  text-align: justify;
}

.options {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 60vw;
}

.option {
  background-color: var(--header-text);
  border: none;
  border-radius: 20px;
  color: var(--header-link-hover);
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: opacity ease-in-out 0.3s;
}

.option:nth-child(even) {
  background-color: var(--header-title);
}

.option:hover {
  opacity: 0.8;
}

.story-end-button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 60vw;
}

.bookmark {
  background-color: var(--header-text);
  border: none;
  border-radius: 20px;
  color: var(--header-link-hover);
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.bookmark:hover {
  opacity: 0.8;
  background-color: var(--header-title);
}

.bookmark a,
.bookmark a:hover {
  color: var(--header-link-hover);
  text-decoration: none;
}

.remove-text-decoration {
  text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .story-path-container {
    max-width: 80vw;
  }

  .story-path-container h1 {
    font-size: 2em;
  }

  .story-path-container p {
    font-size: 1.2em;
  }

  .options {
    max-width: 80vw;
    gap: 20px;
  }

  .option {
    font-size: 1em;
  }

  .story-end-button {
    max-width: 80vw;
    gap: 20px;
  }

  .bookmark {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .story-path-container {
    max-width: 95vw;
  }

  .story-path-container h1 {
    font-size: 1.5em;
  }

  .story-path-container p {
    font-size: 1em;
  }

  .options {
    max-width: 95vw;
    gap: 15px;
  }

  .option {
    font-size: 0.9em;
    padding: 8px 15px;
  }

  .story-end-button {
    max-width: 95vw;
    gap: 15px;
  }

  .bookmark {
    font-size: 0.9em;
    padding: 8px 15px;
  }
}