@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--theme-font);
}

/* Default (fairycore) theme */
:root {
  font-size: 16px;
  /* set default for rem */
  --border-radius: 10px;
  --theme-font: 'Chewy', cursive, sans-serif;

  /* HEIGHT OF ELEMENTS WHICH IMPACT VERTICAL SPACING */
  --header-height: 140px; 
  --dropdown-height: 38px;
  --footer-height: 100px;

  /* COLORS */
  --bg-color: rgb(211, 201, 198);
  /* #d3c9c6 */
  --text-color: rgb(100, 91, 89);
  /* #645b59 */
  --cool-white: rgb(231, 239, 243);
  /* #E7EFF3 */
  --warm-white: rgb(255, 251, 251);
  /* #FFFBFB */
  --neutral-white: rgb(241, 246, 248);
  /* #F1F6F8 */
  /* try not to use the above --neutral-white for anything other than the scrollbar track */
  --container-color: rgb(216, 184, 153);
  /* #d8b899 */
  --accent-container: rgb(223, 240, 248);
  /* #dff0f8 */
  --dark-accent: rgb(29, 29, 29);
  --mid-dark-accent: rgb(132, 125, 124);
  /* #847d7c */
  --button-accent: rgb(176, 86, 93);
  /* #b0565d */
  --dk-button-accent: rgb(134, 51, 65);
  /* #9b3f4e */
  --dk-container-color: rgb(232, 157, 117);
  /* #e89d75 */
  --rating-bg: rgb(177, 202, 203);
  /* #b1cacb */
  --alt-button-accent: rgb(88, 57, 138);
  /* #6B4C9E */

  /* HEADER COLOR VARIABLES */
  --header-bg: rgb(216, 184, 153);
  /* #d8b899 */
  --header-text: rgb(201, 95, 126);
  /* #c95f7e */
  --header-title: rgb(129, 106, 166);
  /* #816aa6 */
  --header-shadow: rgb(201, 95, 126);
  /* #c95f7e */
  --header-link-hover: rgb(223, 240, 248);
  /* #dff0f8 */

  /* STORY COLOR ARRAY */
  --story-1: rgb(240, 173, 78);
  /* #f0ad4e */
  --story-2: rgb(201, 95, 126);
  /* #c95f7e */
  --story-3: rgb(140, 138, 119);
  /* #8c8a77 */
  --story-4: rgb(129, 106, 166);
  /* #816aa6 */
  --story-5: rgb(223, 240, 248);
  /* #dff0f8 */
  --story-6: rgb(221, 161, 94);
  /* #dda15e */
  --story-7: rgb(139, 94, 60);
  /* #8b5e3c */
  --story-8: rgb(237, 176, 139);
  /* #edb08b */
  --story-9: rgb(232, 240, 254);
  /* #e8f0fe */
  --story-10: rgb(0, 0, 179);
  /* #0000b3 */
  --story-11: rgb(189, 133, 178);
  /* #BD85B2 */

  /* FONT SIZE VARIABLES */
  /* these initial values apply for viewport widths 1441px + */
  --small-txt: 16.5px;
  --med-small-txt: 18.5px;
  --med-txt: 21px;
  --med-large-txt: 23px;
  --large-txt: 28px;

  /* button.header-button horizontal padding */
  --header-x-padding-small: 15px;
  --header-x-padding-bigger: 20px;

  /* LoginSignupModal .btn-close side length - may want to use this for Create Story Modal as well. */
  --btn-close-length: 38px;
}

/* Dark theme */
[data-theme="cyberpunk"] {
  --bg-color: #333333;
  --text-color: #ffffff;
}

/* Fantasy theme */
[data-theme="fantasy"] {
  --bg-color: goldenrod;
  --text-color: #ffffff;
}

/* The below 3 classes are a test of flex sticky footer */
html,
body, 
#root {
  height: 100%;
  margin: 0;
}

html {
  overflow-y: scroll;
}

body {
  background-color: var(--bg-color);
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body.modal-open {
  width: 100vw;
  overflow: hidden;
}

.loading-container,
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--header-text);
  /* Color of the spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-container h2,
.error-container h2 {
  margin-top: 20px;
  font-size: 1.5em;
  color: var(--header-title);
}

/* Shared modal styles */
.modal {
  z-index: 1100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Shared form styles */
form label,
form input,
form textarea,
form select {
  display: block;
  width: 100%;
  margin: 0px;
}

/* Styling for the browser's scrollbar and the scrollbar that appears around the story structure UI in CreateStory.jsx */
/* Entire scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: var(--neutral-white);
  border-radius: 10px;
}

/* Handle (draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: var(--mid-dark-accent);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(112, 105, 104);
}

div.layout-background {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
}

/* For viewport widths 1025px - 1440px */
@media (max-width: 1440px) {
  :root {
    /* conflict: story descriptions are not fitting in the story boxes in mythIndex at this breakpoint, and 15.5px would work better for those story descriptions, but 16px for --small-txt looks better on other pages. */
    --small-txt: 16px;
    --med-small-txt: 18px;
    --med-txt: 20px;
    --med-large-txt: 22px;
    --large-txt: 27px;

    --btn-close-length: 35px;
  }
}

/* For viewport widths 769px - 1024px */
@media (max-width: 1024px) {
  :root {
    --small-txt: 15.5px;
    --med-small-txt: 17px;
    --med-txt: 19px;
    --med-large-txt: 21px;
    --large-txt: 25px;
  }
}

/* For viewport widths 481px - 768px */
@media (max-width: 768px) {
  :root {
    --small-txt: 15px;
    --med-small-txt: 15.5px;
    --med-txt: 16px;
    --med-large-txt: 18px;
    --large-txt: 24px;

    --btn-close-length: 32px;
  }
}

/* For viewport widths 480px and under */
@media (max-width: 480px) {
  :root {
    --small-txt: 14.5px;
    --med-small-txt: 15px;
    --med-txt: 16px;
    --med-large-txt: 18px;
    --large-txt: 22px;

    --btn-close-length: 30px;
  }
}