.user-profile {
  background-color: var(--bg-color);
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.user-main-content {
  width: 100%;
  max-width: 65vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-message {
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--button-accent);
}

.button-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.profile-button {
  background-color: var(--story-4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  font-size: 20px;
  color: var(--header-link-hover);
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

.profile-button:hover {
  background-color: rgb(107, 76, 158);
}

.additional-content {
  padding: 0;
  width: 100%;
}

.story-section {
  text-align: center;
  width: 100%;
}

.story-section h2 {
  background-color: var(--button-accent);
  border-radius: var(--border-radius);
  font-size: 20px;
  color: var(--header-link-hover);
  padding: 15px;
  margin: 15px 0px;
  cursor: pointer;
  transition: width 0.3s ease;
  width: auto;
}

.story-section h2:hover {
  background-color: var(--dk-button-accent);
}

.stories-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.story-box {
  width: calc(25% - 20px);
  max-width: 300px;
  flex: 1 0 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  border: 1px solid var(--header-link-hover);
  background-color: var(--header-link-hover);
}

.remove-text-decoration {
  text-decoration: none;
}

.story-box img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

.story-box h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.01rem;
  color: var(--story-10);
}

.story-box p {
  font-size: 0.85rem;
  color: #666;
}

p.story-author {
  margin-bottom: 10px;
  color: var(--dk-button-accent);
}

.story-box .rating {
  margin: 10px 0;
}

.story-box .actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.story-box .actions button {
  margin: 5px;
}

.story-box button {
  background-color: var(--header-title);
  color: var(--header-link-hover);
  border: none;
  /* padding: 8px 12px; */
  padding: 7px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: opacity ease-in-out 0.3s;
}

.story-box button:hover {
  opacity: 0.7;
}

.story-box .delete-btn {
  background-color: var(--button-accent);
}

.story-box .remove-btn {
  background-color: var(--dk-container-color);
}

.no-data-message {
  font-size: 20px;
  padding: 0px;
  margin: 15px;
  cursor: pointer;
  transition: width 0.3s ease;
  width: auto;
}

/* Media Queries for responsiveness */

/* Covers all viewport widths greater than 767px and up through the largest viewport widths */
@media (max-width: 2000px) {
  .user-main-content {
    max-width: 80vw;
  }

  /* The full height of the footer doesn't fit nicely at this viewport size, so giving the div.user-profile extra height pushes the footer down and out of sight. */
  div.user-profile {
    min-height: calc((100vh - var(--header-height)) + 104px);
  }

  .welcome-message {
    margin-bottom: 29.2px;
    font-size: 36px;
  }

  .story-box {
    width: calc(33.33% - 20px);
  }
}

/* For viewport widths 481px - 768px */
@media (max-width: 768px) {
  .user-main-content {
    max-width: 90vw;
  }

  div.user-profile {
    min-height: calc(100vh - var(--header-height));
  }

  .welcome-message {
    font-size: 32px;
  }

  .story-box {
    width: calc(50% - 20px);
  }

  .profile-button {
    font-size: 18px;
    padding: 10px;
  }

  .story-section h2 {
    font-size: 18px;
    padding: 10px;
  }
}

/* For viewport widths 480px and smaller */
@media (max-width: 480px) {
  .user-main-content {
    max-width: 100vw;
    padding: 10px;
  }

  .welcome-message {
    font-size: 24px;
    /* This margin-top is designed to give 100px total vertical space between the header and the h1.welcome-message, to mimic the 100px vertical height of the footer. */
    margin-top: 31.6px;
    margin-bottom: 15px;
  }

  .profile-button {
    font-size: 18px;
    padding: 8px;
  }

  .stories-grid {
    gap: 15px;
  }

  .story-box {
    width: calc(100% - 20px);
    margin-bottom: 0;
  }

  .story-section h2 {
    font-size: 18px;
    padding: 8px;
  }

  .story-box h3 {
    font-size: 16px;
  }

  .story-box p {
    font-size: 14.5px;
    line-height: 1.4;
  }

  button.delete-btn,
  button.remove-btn {
    font-size: 15px;
  }

  .no-data-message {
    font-size: 16px;
  }
}