.story-grid a {
  text-decoration: none;
}

.mythweaver {
  text-align: center;
  background-color: var(--bg-color);
  /* Ensures content fits */
  min-height: 100vh;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Adjust based on header height */
  min-height: calc(100vh - var(--header-height));
  padding: 20px;
}

.story-grid {
  display: grid;
  /* Default to 3 columns */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.story-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  width: 100%;
  height: 300px;
  font-size: 12px;
  cursor: pointer;  
}

.story-image-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.story-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.story-title-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  font-size: 1.2em;
  /* Ensure it is above the image */
  z-index: 2;
}

.story-title-container .story-title {
  color: white;
  margin: 0;
}

.story-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease;
  opacity: 0;
  z-index: 1;
}

.story-container:hover .story-image {
  transform: scale(1.1);
}

.story-container:hover .story-info {
  opacity: 1;
}

p.story-description {
  margin: 4px 0;
  font-size: 1.2em;
  color: white;
}


/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .story-grid {
    /* 2 columns for medium screens */
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .story-grid {
    /* 1 column for small screens */
    grid-template-columns: repeat(1, 1fr);
  }

  .story-container {
    /* Adjust height for smaller screens */
    height: 250px;
  }
}

@media (max-width: 480px) {
  .story-grid {
    padding: 10px;
  }

  .story-container {
    /* Adjust height for smaller screens */
    height: 320px;
  }

  p.story-description {
    font-size: 14.5px;
    line-height: 1.4;
    padding: 20px;
    /* 46px is the height of 1-liner titles at these viewport widths, and adding a 46px margin-bottom helps the p.story-description appear to be more in the vertical middle of the div.story-container. */
    margin-bottom: 46px;
  }

  .story-title-container .story-title {
    font-size: 20px;
  }
}