.mythweaver {
    text-align: center;
    background-color: var(--bg-color);
    min-height: 100vh; /* Ensures content fits */
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--header-height)); /* Adjust based on header height */
    padding: 20px;
}

.story-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default to 3 columns */
    gap: 20px;
    padding: 20px; /* Added padding for better spacing */
}

.story-container {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    width: 100%; /* Fit the grid cell */
    height: 300px;
    font-size: 12px;
    cursor: pointer;
}

.story-image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.story-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.story-title-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    font-size: 1.2em;
    z-index: 2; /* Ensure it is above the image */
}

.story-title-container .story-title {
    color: white; /* Ensure title text color is white */
    margin: 0;
}

.story-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1; /* Ensure it is below the title */
}

.story-container:hover .story-image {
    transform: scale(1.1);
}

.story-container:hover .story-info {
    opacity: 1;
}

.story-author,
.story-description,
.story-stars {
    margin: 4px 0;
    font-size: 1.2em; /* Increased font size */
}

.story-author {
    font-size: 1.4em; /* Increased font size */
    margin-bottom: 10px;
}

.story-description {
    font-size: 1.2em; /* Increased font size */
    color: white;
}

.story-stars {
    font-size: 1.2em;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
    .story-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
    }
}

@media (max-width: 768px) {
    .story-grid {
        grid-template-columns: repeat(1, 1fr); /* 1 column for small screens */
    }

    .story-container {
        height: 250px; /* Adjust height for smaller screens */
    }
}

@media (max-width: 480px) {
    .story-container {
        height: 200px; /* Adjust height for smaller screens */
    }

    .story-author,
    .story-description,
    .story-stars {
        font-size: 1em; /* Adjust font size for smaller screens */
    }
}
