/* General Styles */
.about-us-container {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.about-us-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 90vw;
  padding: 10px;
}

.about-us-card {
  background-color: var(--container-color);
  border-radius: var(--border-radius);
  padding: 25px;
  margin: 12.5px;
  text-align: center;
  width: 100%;
}

.about-us-title {
  font-size: 24px;
  margin: 10px 0px;
  color: var(--header-text);
}

.about-us-description {
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-color);
  padding: 10px 0px;
}

/* Team Grid */
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  width: 100%;
  padding-top: 10px;
  /* padding-bottom: 5px; */
}

.team-member {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--text-color);
  background-color: var(--accent-container);
  padding: 15px;
  border-radius: var(--border-radius);
}

.team-member-info {
  display: flex;
  align-items: center;
  align-content: center;
  color: var(--text-color);
  flex-direction: column;
  /* Adjust for smaller screens */
}

.team-member-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
}

.team-member-text {
  padding: 10px;
  text-align: center;
  /* Adjust for smaller screens */
}

.team-member-name {
  margin: 0;
  color: var(--header-title);
  transition: all ease-in-out 0.5s;
  padding: 10px 0px;
}

.team-member-description {
  margin: 0;
  text-align: justify;
}

/* Media Queries */
@media (max-width: 768px) {
  .about-us-main {
    max-width: 80vw;
  }

  .about-us-title {
    font-size: 20px;
  }

  .about-us-description {
    font-size: 16px;
  }

  .team-member-img {
    width: 80px;
    height: 80px;
  }

  .team-member-info {
    flex-direction: column;
  }

  .team-member-text {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .about-us-main {
    max-width: 95vw;
  }

  .about-us-title {
    font-size: 18px;
  }

  .about-us-description {
    font-size: 14px;
  }

  .team-member-img {
    width: 60px;
    height: 60px;
  }

  .team-member-text {
    padding: 5px;
  }
}