/* Styling is desktop-first; default styles apply to viewport widths 1441px and up */

.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--bg-color);
  width: 100%;
  /* Vertical spacing for AboutUs for viewport widths 1441px and up */
  padding-top: 50px;
  padding-bottom: 70px;
}

.about-us-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  /* Sets the width of AboutUs page content when viewport width is 1441px and up */
  width: 60vw;
  gap: 40px;
}

/* Our Story, Our Team, and Contact Us are each located in their own div.about-us-card */
.about-us-card {
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: var(--border-radius);
  text-align: center;
  /* .about-us-card will always be 100% of the width of .about-us-main */
  width: 100%;
  padding: 45px 70px;
  gap: 25px;
}

.about-us-title {
  font-size: var(--large-txt);
  color: var(--header-text);
}

.about-us-description {
  font-size: var(--small-txt);
  line-height: 1.6;
  color: var(--text-color);
}

/* Team Grid */
.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 100%;
  gap: 30px;
}

.team-member {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  background-color: var(--accent-container);
  padding: 30px;
}

.team-member-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  align-content: center;
  color: var(--text-color);
}

.team-member-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.team-member-name {
  font-size: var(--med-large-txt);
  color: var(--header-title);
  transition: all ease-in-out 0.5s;
  margin: 0;
}

.team-member-description {
  font-size: var(--small-txt);
  text-align: justify;
  /* A line-height of 1.6 is appropriate for when the viewport width is large and the div.team-member cards are displaying in multiple columns, each with fairly short line length. This also matches the line-height of .about-us-description at large viewport widths. */
  line-height: 1.6;
  margin: 0;
}

/* Media Queries */

@media (max-width: 1440px) {
  /* Vertical spacing for AboutUs for viewport widths 769px - 1440px */
  .about-us-container {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  /* Sets the width of AboutUs page content when viewport width is 1025px - 1440px */
  .about-us-main {
    width: 65vw;
  }

  .about-us-card {
    padding: 40px 60px;
    gap: 20px;
  }

  .team-grid {
    gap: 25px;
  }
}

@media (max-width: 1300px) {
  /* Giving .about-us-card extra padding for viewport widths 1025px - 1300px helps prevent excessively long line lengths. */
  .about-us-card {
    padding: 45px 70px;
  }

  /* Giving .team-member extra padding for viewport widths 1025px - 1300px helps prevent excessively long line lengths. */
  .team-member {
    padding: 50px;
  }

  .about-us-description,
  .team-member-description {
    /* A line-height of 2 helps give some extra height to the text to balance the large width of content and the long line length of div.team-member cards at viewport widths 1025px - 1300px. */
    line-height: 2;
  }
}

@media (max-width: 1024px) {
  /* Sets the width of AboutUs page content when viewport width is 769px - 1024px */
  .about-us-main {
    width: 70vw;
    gap: 35px;
  }

  /* Necessary padding and spacing adjustments for this breakpoint follow */
  .about-us-card {
    padding: 40px 45px;
    gap: 25px;
  }

  .team-grid {
    gap: 30px;
  }

  .team-member {
    padding: 40px;
  }

  /* A line-height of 1.8 for viewport widths 481px - 1024px is sufficient to balance the longer line lengths as the viewport width increases. */
  .about-us-description,
  .team-member-description {
    line-height: 1.8;
  }
}

@media (max-width: 768px) {
  /* Vertical spacing for AboutUs for viewport widths 0px - 768px */
  .about-us-container {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .about-us-main {
    /* Width of AboutUs page content when viewport width is 768px or less */
    width: 85vw;
    gap: 30px;
  }

  .about-us-card {
    padding: 35px;
  }

  .team-grid {
    gap: 25px;
  }

  .team-member {
    padding: 30px;
  }

  .team-member-info {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .team-member-img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .about-us-main {
    gap: 20px;
  }

  .about-us-card {
    margin-top: 0px;
    padding: 35px 25px 25px;
    gap: 20px;
  }

  .our-story-card {
    padding: 35px 25px;
  }

  /* A line-height of 1.4 is consistent with line-height given to body text at the mobile breakpoint in different pages around the site. */
  .about-us-description,
  .team-member-description {
    line-height: 1.4;
  }

  .team-grid {
    gap: 15px;
    /* The below line ensures that the 1 column fits the space available, rather than staying 300px wide and exceeding the available space. */
    grid-template-columns: repeat(1, 1fr);
  }
}