.footer {
  background: var(--mid-dark-accent);
  color: var(--dk-button-accent);
  text-align: center;
  align-items: center;
  padding: 40px 0;
}

.footer .copyright-wrapper p {
  font-size: 16px;
}
