.story-end {
    background-color: var(--bg-color);
    text-align: center;
    padding: 20px;
    height: calc(100vh - var(--header-height));
    color: var(--text-color);
    box-sizing: border-box;
}

.story-end-container {
    margin: 0 auto;
    max-width: 60vw;
    padding: 20px;
    box-sizing: border-box;
}

.story-end-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--header-text);
}

.story-end-container p {
    font-size: 1.5em;
    margin-bottom: 40px;
    line-height: 1.5;
    text-align: justify;
}

.story-end-button {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 60vw;    
}

.bookmark {
    background-color: var(--header-text);
    border: none;
    border-radius: 20px;
    color: var(--header-link-hover);
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.bookmark:hover {
    opacity: 0.8;
    background-color: var(--header-title);
}

.bookmark a,
.bookmark a:hover {
    color: var(--header-link-hover);
    text-decoration: none;
}

/* Media Queries */
@media (max-width: 768px) {
    .story-end-container {
        max-width: 80vw;
    }

    .story-end-container h1 {
        font-size: 2em;
    }

    .story-end-container p {
        font-size: 1.2em;
    }

    .story-end-button {
        max-width: 80vw;
        gap: 20px;
    }

    .bookmark {
        font-size: 1em;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    .story-end-container {
        max-width: 95vw;
    }

    .story-end-container h1 {
        font-size: 1.5em;
    }

    .story-end-container p {
        font-size: 1em;
    }

    .story-end-button {
        max-width: 95vw;
        gap: 15px;
    }

    .bookmark {
        font-size: 0.9em;
        padding: 6px 10px;
    }
}
