/* Styling for 577px and up */

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--header-link-hover);
  height: var(--header-height);
  width: 100%;
}

.header-container {
  /* The width of .header-container is set so that the right edge of the text of each header button aligns with page content that is 85vw and horizontally centered */
  width: calc(85vw + (2 * var(--header-x-padding-bigger)));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Alignment for the nav links on the left and right sides of the header */
.header-left,
.header-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Styling for each nav link/button on the header */
.header-button {
  background-color: var(--header-bg);
  color: var(--header-text);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: var(--header-x-padding-bigger);
  padding-right: var(--header-x-padding-bigger);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: var(--med-small-txt);
  transition: all ease-in-out 0.5s;
}

.header-button:hover {
  background-color: var(--header-link-hover);
  border-radius: 10px;
}

/* Prevent links from being underlined */
.header-link {
  text-decoration: none;
}

/* Styling for h1.site-title */
.site-title {
  font-size: 3rem;
  margin: auto 0;
  text-align: center;
  flex-grow: 1;
}

.site-title a {
  color: var(--header-title);
  text-decoration: none;
  transition: all ease-in-out 0.5s;
}

.site-title a:hover {
  text-shadow: 1px 1px 4px var(--header-shadow);
}

/* Animation CSS for each letter within the "MythWeaver" site title */
.leBlurIn span {
  display: inline-block;
}

.start-animation {
  animation-name: leBlurIn;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes leBlurIn {
  from {
    transform: scaleX(0.2);
    filter: blur(20px);
    opacity: 0;
  }

  to {
    transform: scaleX(1);
    filter: blur(0);
    opacity: 1;
  }
}

.animated-char {
  display: inline-block;
}

/* Dropdown Styling */
.dropdown-container {
  display: flex;
  justify-content: flex-end;
  z-index: 3;
  background-color: var(--bg-color);
  height: var(--dropdown-height);
  width: 100%;
  padding-right: 7vw;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: var(--header-bg);
  border-radius: 0px 0px 10px 10px;
  width: fit-content;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--header-link-hover);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px;
  width: 100%;
}

/* Styling for the "Change Theme" button */
.theme-button {
  background-color: var(--header-bg);
  color: var(--header-text);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 0px 0px 10px 10px;
  font-size: var(--small-txt);
  height: var(--dropdown-height);
  width: 100%;
}

.theme-button:hover {
  background-color: var(--header-link-hover);
  border-radius: 0px;
}

.dropdown-content button {
  color: var(--header-text);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
  font-size: var(--small-txt);
  width: 100%;
}

.dropdown-content button:hover {
  background-color: var(--header-bg);
  border-radius: 0px 0px 10px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 0px 0px 10px 10px;
}

/* Media Queries */

/* Styling for 481px - 576px */
@media (max-width: 576px) {
  .site-title {
    font-size: 2.5rem;
  }
}

/* Styling for 431px - 480px */
@media (max-width: 480px) {
  .site-title {
    font-size: 2rem;
  }

  /* Give the .header-container the extra width of 2*var(--header-x-padding-small) so that the text of each button.header-button aligns to the horizontal edge of page content that is 85vw and horizontally centered. */
  .header-container {
    width: calc(85vw + (2 * var(--header-x-padding-small)));
  }

  .header-button {
    padding-left: var(--header-x-padding-small);
    padding-right: var(--header-x-padding-small);
  }

  .dropdown-container {
    padding: 0px 15px;
  }
}

/* Styling for 430px and under */
@media (max-width: 430px) {
  .site-title {
    font-size: 1.5rem;
  }
}