.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--header-link-hover);
}

.header-left,
.header-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-button {
  background-color: var(--header-bg);
  color: var(--header-text);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  transition: all ease-in-out 0.5s;
}

.header-button:hover {
  background-color: var(--header-link-hover);
  border-radius: 10px;
}

.header-link {
  text-decoration: none;
}

.site-title {
  font-size: 3rem;
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.site-title a {
  color: var(--header-title);
  text-decoration: none;
  transition: all ease-in-out 0.5s;
}

.site-title a:hover {
  text-shadow: 1px 1px 4px var(--header-shadow);
}

/* Animation CSS */
.leBlurIn span {
  display: inline-block;
}

.start-animation {
  animation-name: leBlurIn;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes leBlurIn {
  from {
    transform: scaleX(0.2);
    filter: blur(20px);
    opacity: 0;
  }

  to {
    transform: scaleX(1);
    filter: blur(0);
    opacity: 1;
  }
}

.animated-char {
  display: inline-block;
}

/* Dropdown Styling */
.dropdown-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  background-color: var(--bg-color);
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: var(--header-bg);
  border-radius: 0px 0px 10px 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--header-link-hover);
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
}

.theme-button {
  background-color: var(--header-bg);
  color: var(--header-text);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 0px 0px 10px 10px;
  width: 120px;
}

.theme-button:hover {
  background-color: var(--header-link-hover);
  border-radius: 0px;
}

.dropdown-content button {
  color: var(--header-text);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  width: 120px;
}

.dropdown-content button:hover {
  background-color: var(--header-bg);
  border-radius: 0px 0px 10px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 0px 0px 10px 10px;
}

/* Styles for the Login and Signup Modals */

#auth-modal-custom {
  width: 100%;
  transition: all ease-in-out 2s;
}

#auth-modal-custom .modal-content {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 60px) !important;
  background-color: var(--warm-white);
  padding: 30px;
  border-radius: 10px;
  transition: all ease-in-out 2s;
}

/* This is the modal backdrop which darkens the page content when the modal is open. */
div.fade.auth-modal.modal.show {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%; 
  padding: 0;
}

.modal-header-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

.modal-header-center .modal-title {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  color: var(--story-4);
  margin-left: 30px;
}

.modal-header-center .btn-close {
  font-size: 30px;
  min-width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color: var(--story-4);
  color: var(--warm-white);
  padding: 0;
  margin: 0;
  transition: background-color ease-in-out 0.3s;
}

.modal-header-center .btn-close:hover {
  background-color: var(--alt-button-accent);
  cursor: pointer;
}

.modal-header-center .btn-close::before {
  content: '×';
  font-size: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -40%);
  height: fit-content;
  /* The above 4 properties center the 'x' inside the modal close button */
}

.modal-title-lg {
  font-size: 2rem;
  /* Increase the font size of the title */
  color: #BD85B2;
  /* Apply the hex color to the title */
}

.modal-body-lg {
  font-size: 1.2rem;
  /* Increase the font size of the modal body text */
  line-height: 1.6;
  /* Increase the line height for better readability */
  /* padding: 0rem 2rem 2rem 2rem; */
  /* Add more padding for better spacing */
}

.modal-body-lg.modal-body {
  padding: 0;
}

.modal-body-lg form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.modal-body-lg form .form-control {
  font-size: 1.1rem;
  padding: 0.75rem;
  border: 1px solid var(--dark-accent);
  border-radius: 4px;
  background-color: var(--story-5);
  color: var(--dark-accent);
}

/* Submit button */
.modal-body-lg form .btn {
  font-size: 1.1rem;
  /* Increase the font size of buttons */
  padding: 0.75rem 1.5rem;
  /* Increase padding for buttons */
  color: var(--warm-white);
  background-color: var(--story-4);
  transition: background-color ease-in-out 0.3s;
  cursor: pointer;
}

/* Submit button */
.modal-body-lg form .btn:hover {
  background-color: var(--alt-button-accent);
}

input[type='password'] {
  margin-top: 15px;
}

div.invalid-feedback {
  margin: -10px 0 20px;
  font-size: 16px;
}

/* Responsive Modals */
@media (max-width: 768px) {
  .modal-header-center .modal-title {
    font-size: 1.5rem;
    /* Adjust the font size for smaller screens */
  }

  /* .modal-body-lg { */
    /* padding: 1rem; */
    /* Adjust padding for smaller screens */
  /* } */

  .modal-body-lg form .form-control,
  .modal-body-lg form .btn {
    font-size: 1rem;
    /* Adjust font size for smaller screens */
    /* padding: 0.5rem 1rem; */
    /* Adjust padding for smaller screens */
  }
}

@media (max-width: 576px) {
  .site-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .site-title {
    font-size: 2rem;
  }

  .header {
    padding: 20px 15px;
  }

  .header-button {
    font-size: 15px;
    padding: 10px 15px;
  }

  .dropdown-container {
    padding: 0px 15px;
  }

  .theme-button {
    padding: 10px 15px;
  }

  .modal-header-center .modal-title {
    font-size: 24px;
    /* Further adjust the font size for very small screens */
  }

  .modal-header-center .btn-close::before {
    font-size: 30px;
  }

  .modal-body-lg {
    padding: 0.5rem;
    /* Further adjust padding for very small screens */
  }

  .modal-body-lg form .form-control,
  .modal-body-lg form input.form-control {
    font-size: 14.5px;
    padding: 7px;
    margin: 10px 0 20px 0;
  }

  /* Submit button */
  .modal-body-lg form .btn {
    margin: 0;
    border-radius: 4px;
    border: none;
    padding: 9px;
    font-size: 16px;
  }
}

@media (max-width: 430px) {
  .site-title {
    font-size: 1.5rem;
  }
}