.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--header-bg);
    border-bottom: 1px solid var(--header-link-hover);
  }
  
  .header-left,
  .header-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .header-button {
    background-color: var(--header-bg);
    color: var(--header-text);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition: all ease-in-out 0.5s;
  }
  
  .header-button:hover {
    background-color: var(--header-link-hover);
    border-radius: 10px;
  }
  
  .header-link {
    text-decoration: none;
  }
  
  .title {
    font-size: 3rem;
    margin: 0;
    text-align: center;
    flex-grow: 1;
  }
  
  .title a {
    color: var(--header-title);
    text-decoration: none;
    transition: all ease-in-out 0.5s;
  }

  .title a:hover {
    text-shadow: 1px 1px 4px var(--header-shadow);
  }

  /* Dropdown Styling */

.dropdown-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  background-color: var(--bg-color);
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: var(--header-bg);
  border-radius: 0px 0px 10px 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--header-link-hover);
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px 0px 10px 10px;
}

.theme-button {
  background-color: var(--header-bg);
  color: var(--header-text);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 0px 0px 10px 10px;
  width: 120px;
}

.theme-button:hover {
  background-color: var(--header-link-hover);
  border-radius: 0px;
}

.dropdown-content button {
  color: var(--header-text);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  width: 120px;
}

.dropdown-content button:hover {
  background-color: var(--header-bg);
  border-radius: 0px 0px 10px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 0px 0px 10px 10px;
}

/* Show dropdown when button is clicked */
/* .dropdown-content {
  display: ${dropdownOpen ? 'block' : 'none'};
} */


/* MythIndex.css and Header.css */

.modal-header-center .modal-title {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-size: 2rem; /* Increase the font size of the title */
  color: #BD85B2; /* Apply the hex color to the title */
}

.modal-header-center .btn-close {
  font-size: 2rem; /* Increase the font size of the close button */
  position: absolute;
  top: 15px;
  right: 15px;
  width: 2rem; /* Increase width */
  height: 2rem; /* Increase height */
  color: #A94E6F; /* Apply the hex color to the close button */
  opacity: 1; /* Ensure the close button is fully opaque */
}

.modal-header-center .btn-close::before {
  content: '×'; /* Display an 'X' */
  font-size: 2rem; /* Make sure the 'X' is large enough */
}

.modal-title-lg {
  font-size: 2rem; /* Increase the font size of the title */
  color: #BD85B2; /* Apply the hex color to the title */
}

.modal-body-lg {
  font-size: 1.2rem; /* Increase the font size of the modal body text */
  line-height: 1.6; /* Increase the line height for better readability */
  padding: 2rem; /* Add more padding for better spacing */
}

.modal-body-lg form {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Add gap between form elements */
}

.modal-body-lg form .form-control {
  font-size: 1.1rem; /* Increase the font size of form inputs */
  padding: 0.75rem; /* Increase padding for form inputs */
}

.modal-body-lg form .btn {
  font-size: 1.1rem; /* Increase the font size of buttons */
  padding: 0.75rem 1.5rem; /* Increase padding for buttons */
}
