/* Styling is desktop-first; default styles apply to viewport widths 1701px and up */

.landing-page {
  text-align: center;
  font-family: Arial, sans-serif;
}

.hero {
  background: var(--bg-color);
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin-bottom: -100px;
  position: relative;
}

.landing-title {
  margin: 0;
  font-size: 46px;
  color: var(--header-text);
  position: relative;
  top: -265px;
  left: -29px;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: zoomIn;
  z-index: 3;
}

.slogan {
  position: relative;
  top: -251px;
  left: -27px;
  font-size: 20px;
  color: var(--dark-accent);
  z-index: 3;
}

.slogan-mobile-1,
.slogan-mobile-2 {
  display: none;
}

.cta-button {
  position: relative;
  top: -171%;
  left: 26%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-accent);
  color: var(--cool-white);
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  z-index: 3;
}

.cta-button:hover {
  background-color: var(--dk-button-accent);
}

.images-section .container {
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}

.scroll-image {
  position: relative;
  z-index: 1;
  height: 410px;
  width: auto;
}

.vertical-scroll {
  display: none;
}

.quill-for-mobile {
  display: none;
}

.upright {
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translateY(-50%);
  z-index: 2;
}

.upside-down {
  position: absolute;
  top: 50%;
  right: 26%;
  transform: translateY(-50%);
  z-index: 2;
}

.book-image {
  position: absolute;
  top: 12%;
  right: 40%;
  z-index: 1;
  width: 230px;
  height: auto;
}

.coinpurse-image {
  position: absolute;
  bottom: 29%;
  right: 31%;
  z-index: 2;
}

.bag-image {
  position: absolute;
  bottom: 20%;
  left: 36%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.map-image {
  position: absolute;
  top: 30%;
  left: 33%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/* When the screen gets smaller than the average screen the smaller images disappear. - Haleigh */
@media (max-width: 1700px) {

  .book-image,
  .bag-image,
  .coinpurse-image,
  .map-image,
  .upright,
  .upside-down {
    display: none;
  }
}

@media (max-width: 1600px) {
  .slogan {
    left: -30px;
  }
}

@media (max-width: 1200px) {
  .landing-title {
    left: -13px;
  }

  .slogan {
    left: -12px;
  }

  .cta-button {
    left: 32%;
  }
}

/* Hide horizontal scroll image, add vertical scroll and quill, and adjust elements for smaller screens */
@media (max-width: 780px) {
  .hero {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
  }

  .scroll-image,
  .slogan {
    display: none;
  }

  .vertical-scroll {
    display: block;
    position: relative;
    top: 0%;
    right: 4%;
    z-index: 1;
    height: 65vh;
  }

  .quill-for-mobile {
    display: block;
    position: absolute;
    bottom: 10%;
    left: 60%;
    z-index: 2;
    height: 37vh;
  }

  .landing-title {
    position: absolute;
    top: 29%;
    left: 34%;
    font-size: 42px;
    text-shadow:
      -1px 1px 2px rgba(0, 0, 0, 0.2),
      -2px 2px 4px rgba(0, 0, 0, 0.05),
      -3px 3px 6px rgba(0, 0, 0, 0.03);
  }

  .slogan-mobile-1,
  .slogan-mobile-2 {
    display: block;
    position: absolute;
    left: 36%;
    z-index: 2;
    color: #3B3434;
    font-size: 20px;
    text-shadow:
      -1px 1px 2px rgba(0, 0, 0, 0.1),
      -2px 2px 4px rgba(0, 0, 0, 0.05),
      -3px 3px 6px rgba(0, 0, 0, 0.03);
  }

  .slogan-mobile-1 {
    top: 39%;
  }

  .slogan-mobile-2 {
    top: 46%;
  }

  .cta-button {
    position: absolute;
    height: fit-content;
    top: 54%;
    left: 32%;
    transform: none;
    box-shadow:
      -2px 2px 4px rgba(0, 0, 0, 0.09),
      -2px 3px 6px rgba(0, 0, 0, 0.04),
      -6px 4px 10px rgba(0, 0, 0, 0.05);
  }
}

@media (max-width: 700px) {
  .vertical-scroll {
    right: 2%;
  }
}

@media (max-width: 630px) {

  .vertical-scroll {
    height: 60vh;
    top: 0%;
  }

  .quill-for-mobile {
    height: 32vh;
    bottom: 12%;
  }

  .landing-title {
    left: 33%;
  }

  .slogan-mobile-1, .slogan-mobile-2 {
    left: 36%;
  }
  
  .cta-button {
    left: 30%;
  }
}

@media (max-width: 530px) {

  .landing-title {
    left: 31%;
  }

  .slogan-mobile-1, .slogan-mobile-2 {
    left: 33%;
  }

  .cta-button {
    left: 28%;
  }
}

@media (max-width: 480px) {
  .vertical-scroll {
    height: 50vh;
    top: 0%;
  }

  .quill-for-mobile {
    height: 28vh;
    bottom: 17%;
    left: 57%;
  }

  .landing-title {
    top: 31%;
    left: 33%;
    font-size: 32px;
  }

  .slogan-mobile-1, .slogan-mobile-2 {
    left: 36%;
    font-size: 16px;
  }

  .slogan-mobile-1 {
    top: 40%;
  }

  .slogan-mobile-2 {
    top: 45%;
  }

  .cta-button {
    top: 52%;
    left: 30%;
    font-size: 16px;
    padding: 8px 16px;
  }
}

@media (max-width: 450px) {
  .landing-title {
    left: 32%;
  }
  
  .slogan-mobile-1, .slogan-mobile-2 {
    left: 36%;
  }

  .cta-button {
    left: 30%;
  }
}

@media (max-width: 410px) {
  .landing-title {
    left: 32%;
  }

  .slogan-mobile-1,
  .slogan-mobile-2 {
    left: 34%;
  }

  .cta-button {
    left: 28%;
  }
}

@media (max-width: 350px) {
  .vertical-scroll {
    right: 0%;
  }

  .quill-for-mobile {
    left: 59%;
    height: 28vh;
  }

  .landing-title {
    left: 29%;
  }

  .cta-button {
    top: 52%;
    left: 25%;
  }
}