/* General styles for the Create Story page */
.create-story-container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  /* Beige background */
  min-height: calc(100vh - var(--header-height));
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.home-link {
  font-size: 24px;
  color: #000;
  /* Black color */
  text-decoration: none;
}

.create-story-title {
  font-size: 36px;
  color: #000;
  /* Black color */
}

.change-theme-button {
  background: none;
  border: none;
  font-size: 16px;
  color: #000;
  /* Black color */
  cursor: pointer;
}

.create-story-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
}

.entry-img-wrapper {
  position: relative;
  margin-top: 20px;
  width: 100%;
  /* height: 100%; */
  height: 60vh;
}

.entry-img-wrapper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.5) 10%,
      rgba(0, 0, 0, 0.4) 20%,
      rgba(0, 0, 0, 0.3) 30%,
      rgba(0, 0, 0, 0.2) 40%,
      rgba(0, 0, 0, 0) 50%);
  border-radius: 10px;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  animation: fadeIntoPartialOpaque 4s forwards;
}

.entry-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0;
  animation: fadeIntoPartialOpaque 4s forwards;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

@keyframes fadeIntoPartialOpaque {
  to {
    opacity: 0.8;
  }
}

@keyframes fadeIntoOpaque {
  to {
    opacity: 1;
  }
}

.story-title {
  font-size: 24px;
  color: #523B87;
  /* Purple color */
  margin-bottom: 10px;
}

.story-options {
  list-style: none;
  padding: 0;
}

.story-option {
  font-size: 20px;
  margin: 10px 0;
}

.story-option.new {
  color: #FF7276;
  /* Red color */
}

.story-option.edit {
  color: #A0CC57;
  /* Green color */
}

.story-option.rename {
  color: #FF7276;
  /* Red color */
}

.story-option.test {
  color: #A0CC57;
  /* Green color */
}

.story-option.build {
  color: #FF7276;
  /* Red color */
}

.story-option.delete {
  color: #FF0000;
  /* Bright red color */
}

.create-story-main {
  display: flex;
  flex-grow: 1;
  background-color: #d3c1b1;
  /* Beige background */
  padding: 20px;
}

.story-graph {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  position: relative;
}

/* .node {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
} */

.purple {
  background-color: #523B87;
  left: 10%;
}

.blue {
  background-color: #7AC4C1;
  left: 30%;
}

.aqua {
  background-color: #2DB6C8;
  left: 50%;
  top: 10%;
}

.pink {
  background-color: #D6768E;
  left: 50%;
  top: 50%;
}

.story-editor {
  background-color: #d3b1b1;
  /* Beige background */
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D6768E;
  /* Pink background */
  padding: 10px;
  border-radius: 20px 20px 0 0;
  color: #000;
  /* Black color */
}

.editor-content {
  width: 100%;
  height: 200px;
  background-color: #b5a3a3;
  /* Light beige background */
  border: none;
  border-radius: 0 0 20px 20px;
  padding: 10px;
  font-size: 16px;
  color: #000;
  /* Black color */
  resize: none;
  outline: none;
}

.save-and-continue-button {
  background-color: var(--button-accent);
  color: var(--warm-white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color ease-in-out 0.3s;
  padding: 5px 20px;
  margin: 10px 0px 10px 0px;
}

.save-and-continue-button:hover,
.add-choice-button:hover,
.remove-choice-button:hover {
  background-color: var(--dk-button-accent);
}

.add-choice-button,
.remove-choice-button {
  background-color: var(--button-accent);
  color: var(--warm-white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color ease-in-out 0.3s;
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-top: -5px;
  min-width: 113px;
}

.add-choice-button {
  margin-top: 10px;
}

button.save-chapter-button {
  background-color: var(--story-4);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color ease-in-out 0.3s;
  padding: 5px 10px;
  min-width: 113px;
  color: var(--warm-white);
  display: block;
}

button.save-chapter-button:hover {
  background-color: var(--alt-button-accent);
  display: block;
}

.modal {
  z-index: 1100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  padding: 20px;
  background-color: var(--warm-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-header h2 {
  display: flex;
}

.close-button {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: var(--story-4);
  color: var(--warm-white);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color ease-in-out 0.3s;
}

.close-button::before {
  content: '×';
  font-size: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%);
  color: var(--warm-white);
}

.close-button:hover {
  background-color: #A94E6F;
  border: none;
  border-radius: 5px;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  z-index: 1000;
}

.create-story-content {
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 800px;
  overflow-y: auto;
  /* min-height: 100vh; */
}

.create-story-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 15px 30px;
  font-size: 18px;
  width: 120px;
  cursor: pointer;
  background-color: var(--header-link-hover);
  color: var(--dark-accent);
  color: #27392F;
  color: #263626;
  transition: background-color ease-in-out 0.3s;
  box-shadow:
    0px 4px 5px rgba(0, 0, 0, 0.2),
    /* Small, sharper shadow close to button */
    0px 8px 15px rgba(0, 0, 0, 0.1),
    /* Larger, more blurred shadow */
    0px 15px 30px rgba(0, 0, 0, 0.1),
    /* Even larger, very subtle shadow */
    0px 30px 40px rgba(0, 0, 0, 0.05);
  /* Very soft, barely visible shadow for blending */
}

.create-story-button:hover {
  background-color: white;
}

.finalize-story-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--story-4);
  color: #F1F6F8;
  color: var(--cool-white);
  /* color: var(--warm-white); */
  transition: background-color ease-in-out 0.3s;
  border: none;
  border-radius: 5px;
}

.finalize-story-button:hover {
  background-color: var(--alt-button-accent);
}

.chapter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 70vh;
  overflow-y: auto;
  margin: 20px 0;
  padding-right: 20px;
  gap: 10px;
}

.chapter-container .chapter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chapter-container button {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  width: 80%;
  max-width: 400px;
  background-color: #Dff0f8;
  transition: background-color ease-in-out 0.3s;
  border: none;
  border-radius: 5px;
}

.chapter-container button:hover {
  background-color: #F1F6F8;
}

.choice-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.choice-end-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.end-story-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.end-story-label input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.indent-1 {
  margin-left: 40px;
}

.indent-2 {
  margin-left: 80px;
}

.indent-3 {
  margin-left: 120px;
}

.indent-4 {
  margin-left: 160px;
}

.indent-5 {
  margin-left: 200px;
}

/* Form elements with flexbox for better alignment */
form label,
form input,
form textarea,
form select {
  display: block;
  width: 100%;
  margin: 0px;
}

form .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

form .form-group label {
  flex: 1;
}

form .form-group input,
form .form-group textarea,
form .form-group select {
  flex: 2;
}

form .form-group input {
  margin: 5px 0px 15px;
}

input#storyTitle,
textarea#storyDescription,
input#storyGenre,
input#storyTags,
input#chapterTitle,
textarea#chapterContent {
  margin: 5px 0px 15px;
  padding: 10px;
}

/* Choice and End Story alignment */
.choice-end-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .create-story-container {
    padding-bottom: 500px;
  }

  .create-story-sidebar {
    width: 100%;
    padding: 10px;
    border-radius: 0;
    box-shadow: none;
  }

  .create-story-main {
    flex-direction: column;
    padding: 10px;
  }

  .story-graph {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .story-editor {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
  }

  .editor-header {
    padding: 5px;
  }

  .close-button {
    top: 10px;
    right: 10px;
  }

  .editor-content {
    height: 150px;
  }

  .modal {
    width: 90%;
    padding: 10px;
  }

  .create-story-content {
    max-width: 100%;
    padding: 10px;
  }

  .create-story-button,
  .finalize-story-button {
    width: calc(100% - 60px);
    font-size: 16px;
    padding: 10px;
  }

  .chapter-container {
    max-height: 60vh;
    padding-right: 10px;
  }

  .chapter-container button {
    /* width: 100%; */
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .create-story-container {
    padding-bottom: 150px;
  }

  .create-story-content {
    padding: 30px;
  }

  .modal {
    padding: 30px;
  }

  .modal-header h2 {
    font-size: 24px;
  }

  input#storyTitle,
  textarea#storyDescription,
  input#storyGenre,
  input#storyTags,
  input#chapterTitle,
  textarea#chapterContent {
    margin: 10px 0px 20px;
    padding: 7px;
    font-size: 14.5px;
  }

  .save-and-continue-button,
  .add-choice-button,
  .remove-choice-button,
  button.save-chapter-button {
    font-size: 15px;
    width: 130px;
  }

  .save-and-continue-button {
    padding: 7px;
    margin: 10px 0px 0px;
  }

  .add-choice-button,
  .remove-choice-button {
    height: 30px;
  }

  .create-story-button,
  .finalize-story-button {
    font-size: 18px;
  }

  .create-story-button {
    z-index: 2;
    font-size: 18px;
    padding: 10px;
    width: 45%;
    border-radius: 10px;
    border: none;
    opacity: 0;
    animation: fadeIntoOpaque 2s forwards;
  }

  .chapter-container {
    min-height: 57vh;
    margin: 0;
  }

  .chapter-container button {
    font-size: 14.5px;
  }

  .chapter-container span {
    font-size: 14.5px;  
  }

  .editor-content {
    font-size: 14px;
  }
}